@import "colors";

.blogpost {

}

.blogpost--heading {
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  margin: 2rem;
}

.blogpost--heading > h1 {
  font-size: 2rem;
  line-height: 2.3rem;
}

.blogpost--heading > time {
  color: $dark;
}
