nav {
  text-align: right;
}

@media (max-width: 1024px) {
  nav {
    margin-bottom: 2rem;
    display: flex;
    text-align: center;
  }

  nav > div {
    flex-grow: 1;
    flex-basis: 0;
  }
}

nav > div {
  margin: 1rem 2rem;
}
