@import "colors";

.postsummary--heading > h1 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 2rem;
  line-height: 2.3rem;
}

.postsummary--footer {
  color: $dark;
  display: grid;
  grid-template-columns: 1fr auto;
}

.postsummary--footer--readmore {
  display: block;
  float: right;
  text-decoration: none;
  color: $dark;
}
