@import "normalize";
@import "layout";
@import "typography";

@import "header";
@import "content";
@import "postsummary";
@import "blogpost";
@import "footer";

a {
  text-decoration: none;
  color: inherit;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
